<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bitcoin</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700" rel="stylesheet">

    <!--== All Magnific Popup CSS ==-->
    <link href="/css/magnific-popup.min.css" rel="stylesheet" />
    <!--== All Animate CSS ==-->
    <link href="/css/animate.min.css" rel="stylesheet" />
    <!--== All FontAwesome CSS ==-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!--== All Material Icons CSS ==-->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" />
    <!--== All Helper CSS ==-->
    <link href="/css/helper.min.css" rel="stylesheet" />
    <!--== All Revolution CSS ==-->
    <link href="/css/settings.css" rel="stylesheet" />
    <!--== All Slicknav CSS ==-->
    <link href="/css/slicknav.min.css" rel="stylesheet" />
    <!--== All Timeline CSS ==-->
    <link href="/css/timeline.css" rel="stylesheet" />
    <!--== All Slick Slider CSS ==-->
    <link href="/css/slick.min.css" rel="stylesheet" />
    <!--== All BootStrap CSS ==-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Main Style CSS ==-->
    <link href="/css/style.min.css" rel="stylesheet" />
    <style>
        .jumbotron {
            background-image: url(https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fa-quote-left {
            color: red;
            font-size: 30px;
        }
    </style>
    <!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!--== Start Header Area Wrapper ==-->
    <%- include("partials/navbar") -%>
    <!--== End Header Area Wrapper ==-->
    <div class=" service-area-top jumbotron jumbotron-fluid">
        <div class="container">
            <div style="text-align: center;" class=" page-header-content">
                <h1 style="font-size: 500%;" class="wow fadeIn">
                    404
                </h1>
                <p>
                    Not found the page you are looking for!!!
                </p>
                <div style="padding: 50px;">
                    <a href="/" class="btn-outline">Go Home</a>
                </div>
            </div>
        </div>
    </div>



    <%- include("partials/footer",{user:user}) -%>

    <!--=======================Javascript============================-->
    <script src="/js/modernizr-3.6.0.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/waypoint.min.js"></script>
    <script src="/js/plugins/counterup.min.js"></script>
    <script src="/js/plugins/instafeed.min.js"></script>
    <script src="/js/plugins/jquery.appear.js"></script>
    <script src="/js/plugins/jquery.slicknav.min.js"></script>
    <script src="/js/plugins/parallax.min.js"></script>
    <script src="/js/plugins/slick.min.js"></script>
    <script src="/js/plugins/magnific-popup.min.js"></script>

    <script>
        let login_form = $("#login_form");
        let register_form = $("#register_form");
        $("#register_click").click(function () {

            login_form.hide();
            register_form.show()
        });
        $("#get_login").click(function () {

            register_form.hide();
            login_form.show()
        })
    </script>
    <!--=== Active Js ===-->
    <script src="/js/active.min.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="/js/revslider/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revslider/jquery.themepunch.revolution.min.js"></script>


    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.video.min.js"></script>

    <!--=== REVOLUTION JS ===-->
    <script src="/js/revslider/rev-active.js"></script>

</body>

</html>