<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Much Better</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700" rel="stylesheet">

    <!--== All Magnific Popup CSS ==-->
    <link href="/css/magnific-popup.min.css" rel="stylesheet" />
    <!--== All Animate CSS ==-->
    <link href="/css/animate.min.css" rel="stylesheet" />
    <!--== All FontAwesome CSS ==-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!--== All Material Icons CSS ==-->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" />
    <!--== All Helper CSS ==-->
    <link href="/css/helper.min.css" rel="stylesheet" />
    <!--== All Revolution CSS ==-->
    <link href="/css/settings.css" rel="stylesheet" />
    <!--== All Slicknav CSS ==-->
    <link href="/css/slicknav.min.css" rel="stylesheet" />
    <!--== All Timeline CSS ==-->
    <link href="/css/timeline.css" rel="stylesheet" />
    <!--== All Slick Slider CSS ==-->
    <link href="/css/slick.min.css" rel="stylesheet" />
    <!--== All BootStrap CSS ==-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Main Style CSS ==-->
    <link href="/css/style.min.css" rel="stylesheet" />
    <style>
        .jumbotron {
            background-image: url(https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fa-quote-left {
            color: red;
            font-size: 30px;
        }
    </style>
    <!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!--== Start Header Area Wrapper ==-->
    <%- include("partials/navbar") -%>
    <!--== End Header Area Wrapper ==-->
    <div class=" service-area-top jumbotron jumbotron-fluid">
        <div class="container">
            <div style="text-align: center;" class=" page-header-content">
                <h2 class="wow fadeIn">The smart Payment App
                </h2>
                <p>MuchBetter is a revolutionary award-winning Payment App.
                    Our industry leading eWallet lets you store, send and move money securely and quickly. Make your
                    everyday payments more
                    rewarding than ever before with MuchBetter Offers!</p>
                <div style="padding: 50px;">
                    <a href="/contact" class="btn-outline">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Process area -->

    <div class="feature-area-wrapper sm-top">
        <div class="container">
            <h3 class="wow fadeInUp" style="text-align: center;padding-bottom:40px">Procedure
            </h3>
            <div class="row mtn-sm-60 mtn-md-5 wow fadeInUp">
                <div class="col-md-4">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2019/01/1.png"
                                alt="Businex-Feature" />
                        </div>
                        <div class="icon-box__info">
                            <h5>Download App
                            </h5>
                            <p>Download the app from App Store or Google play store
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2019/01/2.png"
                                alt="Businex-Feature" />
                        </div>
                        <div class="icon-box__info">
                            <h5>
                                Create Your Account

                            </h5>
                            <p>Create and fund your FREE MuchBetter account

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2019/01/3.png"
                                alt="Businex-Feature" />
                        </div>
                        <div class="icon-box__info">
                            <h5>Spend and enjoy

                            </h5>
                            <p>Send, spend and enjoy with fast transactions, smooth withdrawals and exclusive rewards

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Start About Area Wrapper ==-->
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 order-0 order-md-1 wow fadeInUp">
                    <figure class="about-thumb">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2020/01/phone1_6.png"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Wallet
                        </h2>

                        <p>Use the MuchBetter wallet for a MuchBetter way to deposit and cash out with your favourite
                            online gaming brands. No more
                            redirects, cumbersome passwords and extra devices to carry – simply confirm transactions
                            from your phone and enjoy the
                            lowest gaming e-wallet fees in the world!

                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 wow fadeInUp">
                    <figure class="about-thumb">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2020/02/safetyGIF_2020.gif"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Security
                        </h2>

                        <p>MuchBetter goes further than other e-wallets to protect your sensitive information.
                            MuchBetter accounts are protected
                            with device pairing, touch ID, dynamic security codes and a transaction review system to
                            ensure that only legitimate
                            transactions go through.
                        <p>All sensitive information is protected in the cloud. Your account is twinned with your phone.
                            Enable touch ID and keep
                            your account even safer.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 order-0 order-md-1 wow fadeInUp">
                    <figure class="about-thumb">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2020/02/phone_card_2020-homep.png"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Devices
                        </h2>

                        <p>
                            Claim your MuchBetter debit card or ultra cool wearable device including our MuchBetter
                            watch with payment technology
                            infused in sapphire glass. You can pay anywhere you see the sign. Our wearables are
                            supported by Mastercard and will
                            make spending money much better. You’ll be the envy of the checkout line. (EEA customers
                            only)
                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 wow fadeInUp">
                    <figure class="about-thumb" style="width: 80%;">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2020/06/RAF-home-screens.png"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Rewards

                        </h2>

                        <p>At MuchBetter we love to give back to our customers, which is why we send exciting cash
                            gaming offers straight to the
                            reward section of your app, giving you free cash to play with on your favourite gaming
                            sites! As well as this, we will
                            reward you and your friend when you use the MuchBetter ‘Refer-a-Friend’ scheme.

                        </p>
                        <p>MuchBetter people deserve to be rewarded**.

                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 order-0 order-md-1 wow fadeInUp">
                    <figure class="about-thumb">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2019/10/phone3_1.png"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Transfers

                        </h2>

                        <p>
                            MuchBetter lets you transfer money to friends and family, and request payments from others.
                            Our Peer-2-Peer platform is
                            free to use and transfers money instantly in just 3 simple steps.

                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area-wrapper sm-top">
        <div class="container">
            <div class="row align-items-lg-center">

                <div class="col-md-6 col-lg-5 wow fadeInUp">
                    <figure class="about-thumb" style="width: 80%;">
                        <img src="https://muchbetter.com/en/wp-content/uploads/sites/9/2019/10/phone4_2.png"
                            alt="Businex-About">
                    </figure>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="about-content">

                        <h2 class="wow fadeInUp">MuchBetter Support


                        </h2>

                        <p>If our FAQs don’t help, we will! The MuchBetter customer support team guarantee 1 hour
                            response times during working
                            hours.


                        </p>
                        <p>And we respond over email to ensure minimum disruption to you. Send and review tickets from
                            the MuchBetter app and
                            receive speedy email support from our friendly team.

                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== Start Testimonial Area Wrapper ==-->
    <div class="testimonial-area bg-offwhite sp-y sm-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title mb-0">
                        <h6 style="color: red;" class="wow fadeInUp">TESTIMONIALS</h6>
                        <h2 class="wow fadeInUp">Our Customer <br>Loves What we do</h2>

                    </div>

                    <div class="testimonial-carousel-dots"></div>
                </div>

                <div class="col-lg-6 ml-auto">
                    <div class="testimonial-content-wrap">
                        <div class="testimonial-content">
                            <!-- Start Testimonial Item -->
                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <i class="fas fa-quote-left"></i>
                                </div>

                                <div class="testimonial-txt">
                                    <i class="fa fa-quote-left"></i>
                                    <p>I can't believe the difference between the cost of foreign currency from the
                                        banks and from lehrisecurrency.com. They
                                        provide a real saving as well as a professional service which was more than
                                        expected. They have saved me and my business
                                        money and time, again and again.</p>
                                    <h5 class="client-name">Rahul Sharma</h5>
                                </div>
                            </div>
                            <!-- End Testimonial Item -->

                            <!-- Start Testimonial Item -->
                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <i class="fas fa-quote-left"></i>
                                </div>

                                <div class="testimonial-txt">
                                    <i class="fa fa-quote-left"></i>
                                    <p>I have used lehrisecurrency.com on several occasions for foreign exchange
                                        services and wire transfers, All I can say is
                                        they are courteous, professional and stress free and the exchange rate has
                                        always been very good. I will continue to
                                        recommend lehrisecurrency to my business associates and look forward to doing
                                        business with them in the future.
                                    </p>
                                    <h5 class="client-name">Renu Khatri</h5>
                                </div>
                            </div>
                            <!-- End Testimonial Item -->

                            <!-- Start Testimonial Item -->
                            <div class="testimonial-item">
                                <div class="testimonial-thumb">
                                    <i class="fas fa-quote-left"></i>
                                </div>

                                <div class="testimonial-txt">
                                    <i class="fa fa-quote-left"></i>
                                    <p>I have used lehrisecurrency.com on several occasions for foreign exchange
                                        services and wire transfers, All I can say is
                                        they are courteous, professional and stress free and the exchange rate has
                                        always been very good. I will continue to
                                        recommend lehrisecurrency to my business associates and look forward to doing
                                        business with them in the future.
                                    </p>
                                    <h5 class="client-name">Rohit Khanna</h5>
                                </div>

                            </div>
                            <!-- End Testimonial Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--== Start Fun Fact Area Wrapper ==-->
    <div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70"
        data-bg="https://images.unsplash.com/photo-1514820720301-4c4790309f46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">

                        <h2 class="counter-number"><span class="counter">2654</span></h2>

                        <h6 class="counter-txt"><i style="padding-right:10px" class="fa fa-users"></i>Happy Clients</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">1520</span></h2>
                        <h6 class="counter-txt"> <i class="fa fa-check-circle"></i> Project Done</h6>
                    </div>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">120</span></h2>
                        <h6 class="counter-txt"> <i class="fa fa-trophy"></i> Awards Win</h6>
                    </div>
                </div>


                <div class="col-6 col-md-3 text-center">
                    <div class="counter-item">
                        <h2 class="counter-number"><span class="counter">3580</span></h2>
                        <h6 class="counter-txt"><i class="fa fa-coffee"></i> Cups Coffee</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Fun Fact Area Wrapper ==-->

    <%- include("partials/footer",{user:user}) -%>

    <!--=======================Javascript============================-->
    <script src="/js/modernizr-3.6.0.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/waypoint.min.js"></script>
    <script src="/js/plugins/counterup.min.js"></script>
    <script src="/js/plugins/instafeed.min.js"></script>
    <script src="/js/plugins/jquery.appear.js"></script>
    <script src="/js/plugins/jquery.slicknav.min.js"></script>
    <script src="/js/plugins/parallax.min.js"></script>
    <script src="/js/plugins/slick.min.js"></script>
    <script src="/js/plugins/magnific-popup.min.js"></script>

    <script>
        let login_form = $("#login_form");
        let register_form = $("#register_form");
        $("#register_click").click(function () {

            login_form.hide();
            register_form.show()
        });
        $("#get_login").click(function () {

            register_form.hide();
            login_form.show()
        })
    </script>
    <!--=== Active Js ===-->
    <script src="/js/active.min.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="/js/revslider/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revslider/jquery.themepunch.revolution.min.js"></script>


    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.video.min.js"></script>

    <!--=== REVOLUTION JS ===-->
    <script src="/js/revslider/rev-active.js"></script>

</body>

</html>